
#login{ margin:0 auto;}

.inputs_login{margin-bottom: 0.5em; height: 40px; line-height: 30px; margin: 0.5em;}

.inputs_login label{ margin-left: -2.5em;}

.inputs_login input{
    border: 2px solid #006293;
    border-radius: 5px; margin-left: 0.5em;
}

.inputs_login a{color: red;}



#logeo_cliente,
#logeo_agenciaviajes,
#logeo_agenciabuses{
    display: none;
}

#logeo_cliente,#logeo_agenciaviajes,#logeo_agenciabuses{
z-index: 1;
position: absolute;
}

[type=submit]{
    margin-top: 0.5em;
}
