

.filas{transform: scale(0.2); margin-left: -88em; display: flex;}


.asiento{    
    width: 190px; height: 190px; background-color: white; border: 1px solid black;text-align: center;line-height: 150px;font-size: 5em;; }



 /*MEDIAQUERYS*/
  
  @media only screen and (min-width: 1901px) and (max-width: 3000px) {
  }
  
  @media only screen and (min-width: 1801px) and (max-width: 1900px) {
  }
  
  @media only screen and (min-width: 1225px) and (max-width: 1800px) {  
  }

    
 


  @media only screen and ( min-width: 1400px) and (max-width: 4000px) {
    #planta_bus{ display: flex;margin-bottom: -1em;margin-left: -11em; margin-top: -7em;}
  }

 @media only screen and (min-width: 1150px) and (max-width: 1400px) {
  #planta_bus{display: flex; margin-left: -12em;  margin-left: -17em;  margin-top: -7em;}
}  
  



  @media only screen and ( min-width: 990px) and (max-width: 1110px) {
    #planta_bus{display: flex; border-radius: 5em; margin-bottom: 1.5em;     margin-left: 13em;}}

  @media only screen and ( min-width: 900px) and (max-width: 989px) {
    #planta_bus{display: flex; border-radius: 5em; margin-bottom: 1.5em; margin-left: 0em;}}

  @media only screen and ( min-width: 990px) and (max-width: 1224px) {
    #planta_bus {    display: flex; margin-top: -11em;margin-bottom: -6em; transform: scale(0.7); margin-left: -16.8em;}}

  @media only screen and (min-width: 950px) and (max-width: 989px) {
    #planta_bus {display: flex; margin-top: -11em; margin-bottom: -6em; transform: scale(0.7); margin-left: -21em;}}

  @media only screen and (min-width: 926px) and (max-width: 950px) {
    #planta_bus {display: flex; margin-top: -6em; margin-bottom: -3em;transform: scale(0.7); margin-left: -9em;}}
  
  @media only screen and (min-width: 821px) and (max-width: 925px) {
  #planta_bus {display: flex; margin-top: -11em; margin-bottom: -6em; transform: scale(0.7); margin-left: -21em;}}

  @media only screen and (min-width: 770px) and (max-width: 820px) {
    #planta_bus {display: flex; margin-bottom: -9.5em; margin-top: -13em; transform: scale(0.5); margin-left: -15.5em;} }

  @media only screen and (min-width: 570px) and (max-width: 769px) {
    #planta_bus{display: flex; margin-bottom: -7.5em; margin-top: -12em; margin-left: -21em; transform: scale(0.6);}}

  @media only screen and (min-width: 511px) and (max-width: 570px) {
    #planta_bus {display: flex; margin-bottom: -9em; margin-top: -13em; margin-left: -18.5em;transform: scale(0.5);} }

  @media only screen and (min-width: 311px) and (max-width: 510px) {
    #planta_bus { display: flex; margin-bottom: -11em; margin-top: -14em; margin-left: -16.6em; transform: scale(0.4);}}
  
  @media only screen and (min-width: 100px) and (max-width: 369px) {
    #planta_bus { display: flex; margin-bottom: -12.5em; margin-top: -15em; margin-left: -12em; transform: scale(0.3);}
  }










